@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Farkle Score Keeper</h1>
    <p class="lead">
        For game rules and more info check out the <a href=@Url.Action("About","Home")>About</a> link. If you'd like to pick up on an old game or view scores check out the<a href=@Url.Action("PreviousGames", "Home")> Previous Games</a> link.<br />
        To start a new game enter your info and press the button!
    </p>
       <div id="NewGameForm">
          <form>Game Title:<br /> <input type="text" placeholder="Enter a unique game title" name="gameTitle" maxlength="50" /></form>
          <form>Number of Players:<br /> <input type="number" name="numberOfPlayers" min="2" max="10" placeholder="#" /></form>
       </div>
       <div id="NewGameButtondiv" class="container">
          <p><a href=@Url.Action("NewGame", "Home") id="NewGameButton" class="btn btn-primary btn-lg">Start A New Game</a></p>
       </div>
 </div>
 