@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Farkle Score Keeper</h1>
    <p class="lead">
        For game rules and more info check out the <a href=@Url.Action("About","Home")>About</a> link. If you'd like to pick up on an old game or view scores check out the<a href=@Url.Action("PreviousGames", "Home")> Previous Games</a> link.<br />
        To start a new game enter your info and press the button!
    </p>
    <form>Game Title: <input type="text" name="Enter a unique game title" /> Number of Players: <input type="number" name="2-10" min="2" max="5" /></form>
    <p><a href=@Url.Action("NewGame", "Home") class="btn btn-primary btn-lg">Start A New Game</a></p>
    </div>
